.image-circle {
    border-radius: 50%;/* To display rounded image */
    float: left;
}

.name,.role {
    text-align: right;
}

.black{
    color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}

.carousel-indicators li {
    display: inline-block;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #0000ff;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}

.carousel-indicators .active {
    background-color: #ffff99;
}

.red{
    color: red;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.hr {
    border-color: #7d97ad;
    border-width: 1px;
}

.main-img {
    width: 100%; /* To shrink/enlarge the image respective to screen size */
	height: auto;
}

.sub-title {
    color: #7d97ad;
}

.img {
    width: 100%;
    height: auto;
    border: 1px;
    border-color: grey;
	margin: 5px;
    overflow: hidden;
}

figure {
    display: inline-block;
}

.project-caption {
    text-align: center;
}

footer {
    text-align: center;
}

@media screen and (max-width: 414px) { /* For mobile phones */
    .container {
        width: 100%;
		height: auto;
        margin-right: auto;
        margin-left: auto;
        overflow: auto;
    }
	
    .name {
        display: inline-block;
		text-align: center;
    }
    
    .role {
		text-align: center;
	}
	
}

@media screen and (min-width: 800px) { /* For desktops */ 
    .container {
		max-width: 90%;
        margin: 0 auto;
        overflow: auto;
    }
}